In [9]:
#Python can be used as calculator where we dont need to necessarily define a variable before using it.

x=4
print("Output of above declared variable is:",x)

Output of above declared variable is: 4

In [ ]:
# Introduction to print in Python
"""
1. Printing without using print funciton
2. Printing with older format
3. Printing with f string
4. Printing with .format()
"""

In [20]:
a=2
b=3
#a+b

print("Sum of",a,"and",b,"is:",a+b)# old method
print(f"Sum of {a} and {b} is: {a+b}") # f string
print("Sum of {} and {} is: {}".format(a,b,a+b))

print("Sum of {1} and {2} is: {2}".format(2,3,2+3))

Sum of 2 and 3 is: 5
Sum of 2 and 3 is: 5
Sum of 2 and 3 is: 5
Sum of 3 and 5 is: 5

In [ ]:
x="Love"
y="Python"
# Write text as output "I Love Python!. Python! Loves me"
#print("I {0} {1}!. {1}! {0}s me".format(x,y))

In [21]:
# What will be the output of below code
# below code will result into error as it has space in variable name
na me=2
print("Here is the value of above declared variable: ",na me)

SyntaxError: invalid syntax (1843975135.py, line 2)

In [22]:
name=2
print("Here is the value of above declared variable: ",name)

Here is the value of above declared variable:  2

In [23]:
_name=2
print("Here is the value of above declared variable: ",_name)

Here is the value of above declared variable:  2

In [24]:
# What will be the output of below code
text=python
print("Here is the value of above declared variable: ",text)

NameError: name 'python' is not defined

In [25]:
text="python"
print("Here is the value of above declared variable: ",text)

Here is the value of above declared variable:  python

In [26]:
text='python'
print("Here is the value of above declared variable: ",text)

Here is the value of above declared variable:  python

In [29]:
#concatenation of string
# print name and surname together using upper and capitalize function
name='shivendra'
sur_name='shukla'
print("My name is:",name+sur_name)
print(f"My name is: {name+sur_name}")

My name is: shivendrashukla
My name is: shivendrashukla

In [33]:
print("I "+"love "+"Python!")
print("I"+"love"+"Python!")
print("-"*10)

I love Python!
IlovePython!
----------

In [34]:
# output of this code
version=3
print("I love Python "+version)

TypeError: can only concatenate str (not "int") to str

In [36]:
version="3"
print("I love Python "+version)

print("I love Python "+"3")

I love Python 3
I love Python 3

In [43]:
# Additional, formatting in Print

print("{0:8} | {1:>8}".format("Fruit","Quantity"))
print("{0:8} | {1:>8}".format("-"*8,"-"*8))
print("{0:8} | {1:>8.3f}".format("Apple",3.0923))
print("{0:8} | {1:>8.2f}".format("Orange",10))

Fruit    | Quantity
-------- | --------
Apple    |    3.092
Orange   |    10.00

In [49]:
# Introduction to type()
a=2
b=2.30
print(f"data type of a is: {type(a)}")
print(f"data type of a is: {type(b)}")

data type of a is: <class 'int'>
data type of a is: <class 'float'>

In [57]:
#Exercise in class
num1=55
num2=5
word='python'
word2='Data'
c='1256'
#what is data type of num2
print(f"data type of {num2} is: {type(num2)}")

#what is data type of c
print(f"data type of {c} is: {type(c)}")

#what is product of num1 and num2
print(f"Product of {num2} and {num2} is: {num1*num2}")

#what is remainder of num1 divided by num2
print(f"Remainder of {num1} divided by {num2} is: {num1%num2}")

#what is cube of 7
print(f"Cube of 7 is: {7**3}")

#write word2 in capital letters
print(f"Upper of {word2} is: {word2.upper()}")

name="shivendra"
print(name.capitalize())

data type of 5 is: <class 'int'>
data type of 1256 is: <class 'str'>
Product of 5 and 5 is: 275
Remainder of 55 divided by 5 is: 0
Cube of 7 is: 343
Upper of Data is: DATA
Shivendra

In [62]:
# Print below text as output
# It's a great news!
a="It's a great news!"
print(a)
# "It is a great news!"
# "It's a great news!"

c="she said \"That's a great news\""
print(c)

It's a great news!
she said "That's a great news"

### Numeric operations

|Operator|Meaning|
|:--------:|:--------|
|\+|Addition|  
|\-|Substraction|  
|\*|Multiplication|  
|/|Division  
|**|Exponentiate|  
|%|Modulo|

In [23]:
# Exercise on Numerical operators
a=25
b=5

In [24]:
# Exercise in class

a=500
b=10
# what is the sum of a and b

# what is the product of a and b

# what is the remainder of a and b

# what is the cube of 4

# what is the data type of c='340.5'

# convert the string into capital form, d='python'

# what is the square root of 36

# take your name and gender in 2 variables and print as below>>
# my name is ----- and i am a -------
name='shiv'
gender='male'